<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="[Namespace]_[Module]::[module]" title="[Module]s" module="[Namespace]_[Module]" sortOrder="40" parent="Magento_Catalog::inventory" action="[module]/manage" resource="[Namespace]_[Module]::[Module]"/>
    </menu>
</config>
